/* styles överlag*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* styles i games*/
.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0px 70px 20px;
    margin-top: 100px;
}

.games div {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: #CFD8DC;
}

.games div:hover {
    transform: scale(1.02);
}

.games a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.games img {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

.games h2 {
    color: black;
    margin-top: 10px;
    font-size: 200%;
    text-shadow: 5px 5px 10px gray;
}

.games h3 {
    color: gray;
    margin-top: 0px;
    font-size: 100%;
}

.games h4 {
    color: gray;
    margin-top: 0px;
    font-size: 100%;
}

/* styles i blogs (har bytt namn till patches)*/
.blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
    padding: 50px 20px;
    margin-top: 100px;
}

.blogs div {
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: #CFD8DC;
}

.blogs img {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

.blogs h2 {
    color: black;
    margin-top: 10px;
    font-size: 200%;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.blogs h3 {
    color: gray;
    margin-top: 0px;
    font-size: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.blogs h4 {
    color: black;
    margin-top: 5px;
    font-size: 100%;
    padding: 20px 20px;
}

/*Header med nav + hamburgermenu*/
/*------------------------------------------------------------------*/
header {
    background-color: #CFD8DC;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    padding: 30px 10px;
    height: 70px;
    top: 0px;
    z-index: 100;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 200%;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

.menu__btn {
    position: fixed;
    top: 60px;
    right: 5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: gray;
    transition-duration: .3s;
    border-radius: 10px;
}

.menu__btn>span:hover,
.menu__btn>span:hover::before,
.menu__btn>span:hover::after {
    background-color: #333;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .3s;
}

.menu__item {
    display: block;
    padding: 22px 24px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 200%;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .3s;
    margin-top: 15px;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

/*animation jag "lånade" från internet*/
.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0;
}

/* styles när skärmen är större än 500*/
@media only screen and (max-width: 700px) {
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
    }
}